
.app-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #414040;
}
.github-search {
  text-align: center;
  margin-top: 50px;
}
.github-search h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: khaki;
  letter-spacing: 1px;
}
input {
    padding: 10px;
    font-size: 1rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input::placeholder {
    color: #999;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.search-btn {
    background-color: #3066ca;
}
.search-btn:hover {
    background-color: #275ab3;
}