
.app-container {
    font-family: Arial, sans-serif;
    width: 50%;
    height: 90vh;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #414040;
    background-image: url('https://www.clipartmax.com/png/middle/48-483031_github-logo-black-and-white-github-icon-vector.png');
    object-fit: cover;
    background-repeat: no-repeat;
}
.github-search {
  text-align: center;
  margin-top: 6px;
}
.header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: khaki;
  letter-spacing: 1px;
  font-weight: bold;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input {
    padding: 10px;
    font-size: 1rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input::placeholder {
    color: #e6e0e0;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.search-btn {
    background-color: #3066ca;
}
.search-btn:hover {
    background-color: #275ab3;
}
.user-error {
    color: rgb(252, 135, 93);
    margin-top: 20px;
    font-weight: bold;
}

.profile-card {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #2c2b2b;
    color: white;
    text-align: center;
    font-weight: 600;
}
.profile-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.profile-username {
    font-size: 1.8rem;
    margin-bottom: 8px;
    color: #ffcc00;
}
.profile-bio {
    font-style: italic;
    margin-bottom: 15px;
}
.profile-followers .profile-following,  span {
    margin-bottom: 10px;
    color: #3b78ba;
}
.profile-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    color: wheat;
    text-decoration: none;
    border-radius: 4px;
}
.profile-link:hover {
   color: #5dce76;
}

@media (max-width: 768px) {
    .app-container {
        width: 90%;
        padding: 15px;
    }
    input {
        width: 60%;
    }
    button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}