body {
    overflow: hidden;
}
.app-container {
    font-family: Arial, sans-serif;
    width: 50%;
    height: 86vh;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: whitesmoke;
    background-image: url('https://www.pngplay.com/wp-content/uploads/12/GitHub-PNG-HD-Quality.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.github-search {
  text-align: center;
  margin-top: 6px;
}
.header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(248, 246, 240);
  letter-spacing: 1px;
  font-weight: bold;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input {
    padding: 10px;
    font-size: 1rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input::placeholder {
    color: #e6e0e0;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.search-btn {
    background-color: #3066ca;
}
.search-btn:hover {
    background-color: #275ab3;
}
.user-error {
    color: rgb(252, 135, 93);
    margin-top: 20px;
    font-weight: bold;
}

.profile-card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 80%;
    margin-top: 40px;
    padding: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 600;
}
.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 2px 4px 8px #e1ca37cc;
    border: 1px solid #e1ca37cc;
    border-radius: 8px;
}
.profile-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.profile-username {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #e55b77;
}
.profile-bio {
    font-style: italic;
    margin-bottom: 15px;
}
.profile-followers .profile-following,  span {
    margin-bottom: 10px;
    color: orangered;
}
.profile-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    color: olive;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.profile-link:hover {
   color: #5dce76;
}
.profile-header{
    text-align: center;
    margin-bottom: 10px;    
    border-right: 1px solid #f2e278cc;
    padding-right: 10px;
}
.profile-details {
    text-align: right;
    margin-top: 15px;
    font-size: 1rem;
    color: #f0f0f0;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .app-container {
        width: 90%;
        padding: 15px;
        object-fit: cover;
    }
    input {
        width: 60%;
    }
    button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    .profile-avatar {
        width: 100px;
        height: 100px;
    }
    .profile-link {
        font-size: 1rem;
    }
}